<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
    <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Monero (XMR) Blockchain Explorer - XMRScan</title>
    <meta name="description" content="XMRScan allows you to check XMR blocks and transactions with Monero blockchain explorer">
    <meta property="og:title" content="Monero (XMR) Explorer - XMRScan">
    <meta name="og:title" content="Monero (XMR) Explorer - XMRScan">
    <meta name="og:description" content="XMRScan allows you to check XMR blocks and transactions with Monero blockchain explorer">
    <meta property="og:url" content="https://xmrscan.org">
    <meta property="og:type" content="website" />
    <meta name="twitter:description" content="XMRScan allows you to check XMR blocks and transactions with Monero blockchain explorer">
    <meta name="twitter:title" content="Monero (XMR) Explorer - XMRScan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>
</head>
<body>
<div>

    <div class="center">
        <h1 class="center">Monero (XMR) Block Explorer</h1>
        <h4>Welcome to XMRScan, a completely free Monero block explorer.</h4>
        <h4>Enter your transaction ID, or TXID in the search bar to locate your transaction in Monero blockchain.</h4>
    </div>


    <div class="center">
        <form action="/search" method="get" style="width:100%; margin-top:15px" class="style-1">
            <input type="text" name="value" size="120"
                   placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
<div class="center">
     <h3 style="font-size: 12px; margin-top: 20px">

        Server time: {{server_timestamp}} |

        {{#refresh}}
            <a href="/">Autorefresh is ON (10 s)</a>
        {{/refresh}}
        {{^refresh}}
            <a href="/autorefresh">Autorefresh is OFF</a>
        {{/refresh}}
        </h3>
</div>

    {{{mempool_info}}}

    {{#is_page_zero}}
      <h2>100 recent blocks<!--(height: {{height}})--></h2>
    {{/is_page_zero}}
    {{^is_page_zero}}
      <h2>older blocks<!--(height: {{height}})--></h2>
    {{/is_page_zero}}

    <div class="center">

            <table class="center">
                <tr>
                    <td>height</td>
                    <td>age {{age_format}} (Δm)</td>
                    <td>block hash</td>
                    <td>txs</td>
                    <td>fees</td>
                    <td>outputs</td>
                    <td>ring size</td>
                    <td>size [kB]</td>
                </tr>
                {{#blocks}}
                <tr>
                    <td><a href="/block/{{height}}">{{height}}</a></td>
                    <td>{{age}} ({{time_delta}})</td>
                    <td><a href="/block/{{hash}}">{{hash}}</a></td>
                    <td>{{notx}}</td>
                    <td>{{fees}}</td>
                    <td>{{xmr_outputs}}</td>
                    <td>{{mixin_range}}</td>
                    <td>{{blksize}}</td>
                </tr>
                {{/blocks}}
            </table>

            <div class="center" style="text-align: center;">
             {{^is_page_zero}}
               <a href="/page/{{prev_page}}">previous page</a> |
               <a href="/">first page</a> |
             {{/is_page_zero}}
                current page: {{page_no}}/<a href="/page/{{total_page_no}}">{{total_page_no}}</a>
                | <a href="/page/{{next_page}}">next page</a>
            </div>

    </div>
