<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
    <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Monero (XMR) Transaction Pool — XMRScan</title>
    <meta name="description" content="Monero (XMR) Transaction Pool. Monero Block Frequency Tool - XMRScan">
    <meta property="og:title" content="Monero (XMR) Transaction Pool — XMRScan">
    <meta name="og:title" content="Monero (XMR) Transaction Pool — XMRScan">
    <meta name="og:description" content="Monero (XMR) Transaction Pool. Monero Block Frequency Tool - XMRScan">
    <meta property="og:url" content="https://xmrscan.org/txpool">
    <meta property="og:type" content="website" />
    <meta name="twitter:description" content="Monero (XMR) Transaction Pool. Monero Block Frequency Tool - XMRScan">
    <meta name="twitter:title" content="Monero (XMR) Transaction Pool — XMRScan">
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<div>

    <div class="center">
        <h1 class="center"><a href="/">Monero Transaction Pool</a></h1>
        <h4 style="font-size: 15px; margin: 0px">(no javascript - no cookies - no web analytics trackers - no images - open sourced)</h4>
    </div>


    <div class="center">
        <form action="/search" method="get" style="width:100%; margin-top:15px" class="style-1">
            <input type="text" name="value" size="120"
                   placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
<h2 style="margin-bottom: 0px">
   Transaction pool
</h2>
<h4 style="font-size: 12px; margin-top: 0px">(no of txs: {{mempool_size}}, size: {{mempool_size_kB}} kB, updated every {{ mempool_refresh_time }} seconds)</h4>
<div class="center">
    
      <table class="center" style="width:80%">
            <tr>
                <td>age [h:m:s]</td>
                <td>transaction hash</td>
                <td>fee/per_kB [&#181;&#x271]</td>
                <!--<td>outputs</td>-->
                <td>in/out</td>
                <td>tx size [kB]</td>
            </tr>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{fee}}/{{payed_for_kB}}</td>
                <!--<td>{{xmr_outputs}}</td>-->
                <td>{{no_inputs}}/{{no_outputs}}</td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>

    {{^mempool_fits_on_front_page}}
      {{#partial_mempool_shown}}
      <div class="center" style="text-align: center; margin-bottom: 10px">
          <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
      </div>
      {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}


</div>
