@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';

.Select-node {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 600px) {
    flex-grow: 1;
  }

  &--logo-link {
    height: 32px;
  }

  &--logo-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 600px) {
      order: 2;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }

  &-button {
    @include button($btn-tertiary);
    color: white;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #1E2B52;
  }
  &-dropdown {
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #1E2B52;
    min-width: 225px;
    right: 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    @include RTG-fade;
  }
  &-nodes {
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    text-align: right;
    margin: 1rem 0;
  }
  &-node {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    height: 3rem;
    transition: background-color $transition;
    color: $text-color;
    background-color: transparent;

    button.settings {
      @include icon-button($text-color);
      margin-left: -0.5rem;
      opacity: 0;
      @media screen and (max-width: 800px) {
        opacity: 0.6;
      }
      &:focus {
        opacity: 1;
      }
    }
    > p {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 14rem;
      pointer-events: none;
    }
    > .selected-marker {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      transition: background-color $transition;
      background-color: transparent;
    }
    &.selected {
      background-color: #105fb0;
      color: $white;
      > .selected-marker {
        background-color: #105fb0;
      }
      button.settings {
        opacity: 0.6;
      }
    }
    &:hover {
      //background-color: $hover-color;
      //&:not(.selected) button.settings {
      //  opacity: 0.3;
      //}
    }
  }
  &-add {
    @include button($btn-tertiary);
    margin: 1rem;
    margin-top: 0;
  }
}

.Add-Node,
.Configure-Node {
  width: 460px;
}
